.authorized-apps-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #121212;
}
.authorized-apps-logout {
  top: 0px;
  left: 0px;
  color: #a6a6a6;
  position: absolute;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  margin-left: 2%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-logout:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-main {
  width: 1446px;
  height: 707px;
  display: flex;
  position: relative;
  margin-top: 7%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.authorized-apps-content {
  top: 0px;
  left: 100px;
  width: 1193px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-start;
  margin-left: 10%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.authorized-apps-text {
  color: #d8d7d7;
  margin-top: 3%;
  margin-left: 3%;
}
.authorized-apps-container1 {
  width: 94%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 2%;
  align-items: center;
  margin-left: 3%;
  margin-right: 150%;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 2%;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #121212;
}
.authorized-apps-text01 {
  color: #B9BBBE;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 3%;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-left: 3%;
}
.authorized-apps-text02 {
  color: #B9BBBE;
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 1%;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}
.authorized-apps-user-settings {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.authorized-apps-text03 {
  color: #878787;
  align-self: flex-start;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.authorized-apps-navlink {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-navlink1 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink1:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-navlink2 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink2:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-button {
  color: #007fff;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(43, 149, 255, 0.37);
}
.authorized-apps-navlink3 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink3:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-billing {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  margin-top: 2%;
  align-items: center;
  margin-left: 0%;
  flex-direction: column;
  justify-content: flex-start;
}
.authorized-apps-text04 {
  color: #878787;
  align-self: flex-start;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.authorized-apps-navlink4 {
  color: #d4ab18;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink4:hover {
  color: #ffc600;
  background-color: #75682b;
}
.authorized-apps-navlink5 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink5:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-navlink6 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink6:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-navlink7 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.authorized-apps-navlink7:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.authorized-apps-screen-sizew {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  opacity: 0;
  z-index: -1;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.authorized-apps-text05 {
  color: #ffffff;
  font-family: Roboto;
}
.authorized-apps-text06 {
  font-family: Roboto;
}
.authorized-apps-text07 {
  color: #878787;
  font-size: 1.2em;
  font-style: normal;
  margin-top: 1%;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
}
.authorized-apps-link {
  color: #ffffff;
  width: 434px;
  height: 71px;
  font-size: 20px;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 2.7;
  border-width: 0px;
  border-radius: 14px;
  text-decoration: none;
  background-color: #007fff;
}
.authorized-apps-link:hover {
  background-color: #009bff;
}
@media(max-width: 991px) {
  .authorized-apps-screen-sizew {
    opacity: 1;
    z-index: 100;
  }
}
@media(max-width: 479px) {
  .authorized-apps-text05 {
    width: 90%;
    text-align: center;
  }
  .authorized-apps-text07 {
    width: 90%;
    margin-top: 2%;
    text-align: center;
  }
  .authorized-apps-link {
    width: 90%;
    margin-top: 5%;
  }
}
