.my-account-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #121212;
}
.my-account-logout {
  top: 0px;
  left: 0px;
  color: #a6a6a6;
  position: absolute;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  margin-left: 2%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-logout:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-main {
  width: 1446px;
  height: 707px;
  display: flex;
  position: relative;
  margin-top: 7%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.my-account-content {
  top: 0px;
  left: 100px;
  width: 1193px;
  height: auto9px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: flex-start;
  margin-left: 10%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.my-account-text {
  color: #d8d7d7;
  margin-top: 3%;
  margin-left: 3%;
}
.my-account-text01 {
  top: 93px;
  left: 545px;
  color: #d8d7d7;
  position: absolute;
}
.my-account-form {
  top: 70px;
  left: 523px;
  width: 640px;
  height: 310px;
  position: absolute;
}
.my-account-container1 {
  left: 25px;
  width: 296px;
  bottom: 51px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.my-account-textinput {
  left: 0px;
  color: #ffffff;
  width: 284px;
  bottom: 0px;
  height: 37px;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.my-account-textinput:disabled {
  background-color: #3f3f3f;
}
.my-account-text02 {
  color: #878787;
  margin-left: 6px;
}
.my-account-container2 {
  right: 15px;
  width: 296px;
  bottom: 51px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.my-account-textinput1 {
  left: 0px;
  color: #ffffff;
  width: 284px;
  bottom: 0px;
  height: 37px;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.my-account-textinput1:disabled {
  background-color: #3f3f3f;
}
.my-account-text03 {
  color: #878787;
  margin-left: 6px;
}
.my-account-container3 {
  top: 86px;
  left: 25px;
  width: 295px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.my-account-textinput2 {
  left: 0px;
  color: #ffffff;
  width: 284px;
  bottom: 0px;
  height: 37px;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.my-account-textinput2:disabled {
  background-color: #3f3f3f;
}
.my-account-text04 {
  color: #878787;
  margin-left: 6px;
}
.my-account-container4 {
  top: 86px;
  right: 15px;
  width: 295px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.my-account-textinput3 {
  left: 0px;
  color: #ffffff;
  width: 284px;
  bottom: 0px;
  height: 37px;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.my-account-textinput3:disabled {
  background-color: #3f3f3f;
}
.my-account-text05 {
  color: #878787;
  margin-left: 6px;
}
.my-account-container5 {
  left: 0px;
  right: 0px;
  bottom: 5px;
  height: 35px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.my-account-text06 {
  color: #878787;
  align-self: center;
  text-align: center;
}
.my-account-navlink {
  color: #a6a6a6;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  margin-left: 2%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-save {
  top: -52px;
  color: #ffffff;
  right: -7px;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 7%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #0069FF;
}
.my-account-save:hover {
  background-color: #1d74f9;
}
.my-account-save:active {
  background-color: #0559da;
}
.my-account-text07 {
  align-self: center;
}
.my-account-edit {
  top: -52px;
  left: 467px;
  color: #a6a6a6;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 7%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.my-account-edit:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-edit:active {
  color: #717171;
}
.my-account-container6 {
  width: 475px;
  height: 264px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  align-items: center;
  margin-left: 3%;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 3%;
  flex-direction: column;
  justify-content: center;
  background-color: #292828;
}
.my-account-image {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.my-account-text08 {
  color: #d8d7d7;
  margin-top: 2%;
}
.my-account-text09 {
  color: #878787;
  margin-top: 0.5%;
}
.my-account-text10 {
  color: #878787;
  margin-top: 0.5%;
}
.my-account-user-settings {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.my-account-text11 {
  color: #878787;
  align-self: flex-start;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.my-account-button {
  color: #007fff;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(43, 149, 255, 0.37);
}
.my-account-navlink1 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink1:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-navlink2 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink2:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-navlink3 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink3:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-navlink4 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink4:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-billing {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  margin-top: 2%;
  align-items: center;
  margin-left: 0%;
  flex-direction: column;
  justify-content: flex-start;
}
.my-account-text12 {
  color: #878787;
  align-self: flex-start;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.my-account-navlink5 {
  color: #d4ab18;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink5:hover {
  color: #ffc600;
  background-color: #75682b;
}
.my-account-navlink6 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink6:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-navlink7 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink7:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-navlink8 {
  color: #a6a6a6;
  width: 100%;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.my-account-navlink8:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
.my-account-screen-sizew {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  opacity: 0;
  z-index: -1;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
.my-account-text13 {
  color: #ffffff;
  font-family: Roboto;
}
.my-account-text14 {
  font-family: Roboto;
}
.my-account-text15 {
  color: #878787;
  font-size: 1.2em;
  font-style: normal;
  margin-top: 1%;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
}
.my-account-link {
  color: #ffffff;
  width: 434px;
  height: 71px;
  font-size: 20px;
  font-style: normal;
  margin-top: 2%;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 2.7;
  border-width: 0px;
  border-radius: 14px;
  text-decoration: none;
  background-color: #007fff;
}
.my-account-link:hover {
  background-color: #009bff;
}
@media(max-width: 991px) {
  .my-account-screen-sizew {
    opacity: 1;
    z-index: 100;
  }
}
@media(max-width: 479px) {
  .my-account-text13 {
    width: 90%;
    text-align: center;
  }
  .my-account-text15 {
    width: 90%;
    margin-top: 2%;
    text-align: center;
  }
  .my-account-link {
    width: 90%;
    margin-top: 5%;
  }
}
