.premium-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.premium-container1 {
  width: 100%;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.premium-container2 {
  flex: 0 0 auto;
  width: 400px;
  height: 345px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #1a1a1a;
}
.premium-text {
  color: #fdc600;
  align-self: center;
  margin-top: 10%;
}
.premium-text01 {
  color: #2cfd00;
  align-self: center;
  margin-top: 5%;
}
.premium-text02 {
  color: #b5b5b5;
  align-self: center;
  margin-top: 6%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.premium-button {
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 90%;
  bottom: 6%;
  height: 70px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #0069FF;
}
.premium-button:hover {
  background-color: #1d74f9;
}
.premium-button:active {
  background-color: #0559da;
}
.premium-text10 {
  font-size: 25px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
}
.premium-container3 {
  flex: 0 0 auto;
  width: 400px;
  height: 366px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #1a1a1a;
}
.premium-text11 {
  color: #fdc600;
  align-self: center;
  margin-top: 10%;
}
.premium-text12 {
  color: #fd3900;
  align-self: center;
  margin-top: 5%;
}
.premium-text13 {
  color: #b5b5b5;
  align-self: center;
  margin-top: 7%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.premium-button1 {
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 90%;
  bottom: 6%;
  height: 70px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #0069FF;
}
.premium-button1:hover {
  background-color: #1d74f9;
}
.premium-button1:active {
  background-color: #0559da;
}
.premium-text22 {
  font-size: 25px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
}
.premium-container4 {
  flex: 0 0 auto;
  width: 400px;
  height: 290px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: 2%;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #1a1a1a;
}
.premium-text23 {
  color: #d4ab18;
  align-self: center;
  margin-top: 10%;
}
.premium-text24 {
  color: #b5b5b5;
  align-self: center;
  margin-top: 7%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.premium-button2 {
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 90%;
  bottom: 6%;
  height: 70px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #0069FF;
}
.premium-button2:hover {
  background-color: #1d74f9;
}
.premium-button2:active {
  background-color: #0559da;
}
.premium-text33 {
  font-size: 25px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
}
.premium-logout {
  top: 0px;
  left: 0px;
  color: #a6a6a6;
  position: absolute;
  font-style: normal;
  margin-top: 2%;
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  margin-left: 2%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: transparent;
}
.premium-logout:hover {
  color: #c5c5c5;
  background-color: #1c1c1c;
}
