.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.login-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 434px;
  bottom: 0px;
  height: 435px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.login-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.login-text {
  color: #ffffff;
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
  font-family: Roboto;
}
.login-container2 {
  width: 95%;
  display: flex;
  align-self: center;
  margin-top: 10%;
  align-items: flex-start;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.login-text1 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.login-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.login-container3 {
  width: 95%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: center;
  margin-left: 2%;
  flex-direction: column;
  justify-content: center;
}
.login-text2 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.login-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.login-button {
  top: 273px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 371px;
  height: 41px;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  margin-left: 7%;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #0069FF;
}
.login-button:hover {
  background-color: #1d74f9;
}
.login-button:active {
  background-color: #0559da;
}
.login-text3 {
  top: 8px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
.login-navlink {
  top: 325px;
  left: 0px;
  color: #5598CC;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
}
.login-navlink:hover {
  color: #7ab3e0;
}
.login-container4 {
  top: 362px;
  left: 0px;
  right: 0px;
  width: 90%;
  height: 1px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  background-color: #909090;
}
.login-container5 {
  left: 0px;
  right: 0px;
  width: 90%;
  bottom: 27px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.login-text4 {
  color: #909090;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.login-navlink1 {
  color: #5598CC;
  align-self: center;
  transition: 0.3s;
  margin-left: 1%;
  text-decoration: none;
}
.login-navlink1:hover {
  color: #7ab3e0;
}
@media(max-width: 479px) {
  .login-container1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 90%;
    bottom: 0px;
    height: 431px;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .login-form {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }
  .login-button {
    left: 0px;
    right: 0px;
    width: 85%;
    position: static;
    margin-top: 10%;
  }
  .login-text3 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
    position: static;
  }
  .login-navlink {
    top: 335px;
    left: 0px;
    right: 0px;
    bottom: 86px;
    margin: auto;
    opacity: 0;
    position: absolute;
  }
  .login-container4 {
    position: static;
    margin-top: 7%;
  }
  .login-container5 {
    position: static;
    margin-top: 5%;
  }
}
