.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
.register-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 700px;
  bottom: 0px;
  height: 370px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181818;
}
.register-form {
  width: 100%;
  height: 100%;
  position: relative;
}
.register-text {
  color: #ffffff;
  width: 100%;
  cursor: default;
  font-size: 1.5em;
  margin-top: 5%;
  text-align: center;
  font-family: Roboto;
}
.register-container2 {
  width: 50%;
  display: flex;
  align-self: center;
  margin-top: 5%;
  align-items: flex-start;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.register-text1 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.register-textinput {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.register-container3 {
  top: 97px;
  right: 3px;
  width: 50%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.register-text2 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.register-textinput1 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.register-container4 {
  top: 174px;
  right: 3px;
  width: 50%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.register-text3 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.register-textinput2 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.register-container5 {
  width: 50%;
  display: flex;
  align-self: center;
  margin-top: 2%;
  align-items: flex-start;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
}
.register-text4 {
  color: #909090;
  width: 90%;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.register-textinput3 {
  color: #ffffff;
  width: 90%;
  align-self: center;
  margin-top: 2%;
  font-family: Roboto;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #4c4c4c;
}
.register-container6 {
  left: 37px;
  width: 90%;
  bottom: 25px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.register-text5 {
  color: #909090;
  font-size: 18px;
  align-self: center;
  font-family: Roboto;
}
.register-navlink {
  color: #5598CC;
  align-self: center;
  transition: 0.3s;
  margin-left: 1%;
  text-decoration: none;
}
.register-navlink:hover {
  color: #7ab3e0;
}
.register-button {
  top: 266px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 379px;
  height: 41px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.7;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #0069FF;
}
.register-button:hover {
  background-color: #1d74f9;
}
.register-button:active {
  background-color: #0559da;
}
.register-text7 {
  left: 0px;
  right: 0px;
  bottom: 7px;
  margin: auto;
  position: absolute;
  align-self: center;
}
@media(max-width: 479px) {
  .register-container1 {
    width: 95%;
    height: 333px;
  }
  .register-container3 {
    top: 73px;
    right: 2px;
    position: absolute;
  }
  .register-container4 {
    top: 142px;
    right: 1px;
  }
  .register-container6 {
    left: 0px;
    right: 0px;
    bottom: 20px;
    margin: auto;
  }
  .register-button {
    top: 236px;
    width: 85%;
  }
  .register-text7 {
    top: 8px;
    left: 16px;
    position: absolute;
  }
}
